{% extends 'base.html.twig' %}

{% block body %}
    <h1>Estilos list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="col-xs-1">Id</th>
                <th class="col-xs-9">Descripcion</th>
                <th class="col-xs-2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estilos in estilos %}
            <tr>
                <td><a href="{{ path('estilo_show', { 'id': estilos.id }) }}">{{ estilos.id }}</a></td>
                <td>{{ estilos.descripcion }}</td>
                <td>
                    <ul>
                        <a href="{{ path('estilo_show', { 'id': estilos.id }) }}" class="btn btn-primary"> show</a>
                        <a href="{{ path('estilo_edit', { 'id': estilos.id }) }}" class="btn btn-warning"> edit</a>
                        <a href="{{ path('estilo_delete',{ 'id': estilos.id }) }}"class="btn btn-danger">delete</a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estilo_new') }}"class="btn btn-primary"><i class="fa fa-plus"></i> Agregar</a>
        </li>
    </ul>
{% endblock %}
