{% extends 'base.html.twig' %}

{% block body %}
	<h1>Editar Color</h1>

	<div class="panel panel-default">
		<div class="panel-body">

			{# {{ form_start(edit_form) }} #}
			 {{ form_start(edit_form, {"attr":{"novalidate":"novalidate"}}) }}

	      <div class="form-group col-xs-8">
	            <label>{{ form_label(edit_form.descripcion) }}</label>
	            {{ form_errors(edit_form.descripcion)}}
	            {{ form_widget(edit_form.descripcion, {'attr' : {'class' : 'form-control'} }) }}
	      </div>
				<div class="form-group col-xs-4">
	            <label>{{ form_label(edit_form.abrev) }}</label>
	            {{ form_errors(edit_form.abrev)}}
	            {{ form_widget(edit_form.abrev, {'attr' : {'class' : 'form-control'} }) }}
	       </div>

		</div>
		<div class="panel-footer">
			<button type="submit" class="btn  btn-success">Actualizar</button>
			{{ form_end(edit_form) }}
      {{ form_start(delete_form) }}
        <input type="submit" class="btn  btn-danger" value="Delete">
      {{ form_end(delete_form) }}
		</div>
	</div>
{% endblock  %}
